<form *ngIf="!currentUser" class="form-inline" [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <input 
    class="form-control mr-sm-2" 
    type="text" 
    placeholder="E-mail"
    formControlName="email">
  <input 
    class="form-control mr-sm-2" 
    type="password" 
    placeholder="Password"
    formControlName="password">

  <button class="btn btn-outline-light my-2 my-sm-0" type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

<div *ngIf="currentUser">
    <span class="navbar-text mr-3">Welcome {{ currentUser.email }}</span>
    <button class="btn btn-outline-light" type="button" (click)="onLogout()">Logout</button>
</div>